html,
body,
#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  user-select: none;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;

  background: #111;
  color: #fff;

  font-family: 'Poppins', sans-serif;
}

@keyframes headerAnimation {
  0% {
    opacity: 0;
  }

  33% {
    opacity: 1;
    top: calc(50vh - 37.5px);
  }

  100% {
    top: 0;
    opacity: 1;
  }
}

header {
  position: relative;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  top: calc(50vh - 37.5px);
  opacity: 0;
  animation: headerAnimation 3.5s ease 0s 1 forwards;

  & > img {
    height: 3rem;
    margin-right: 15px;
  }
}
