doctype
html(lang="en")
  head
    title E3 Schedule 2019
    link(href="favicon.ico?v=0" rel="shortcut icon")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    script(src="https://redom.js.org/redom.min.js")

    link(href='https://fonts.googleapis.com/css?family=Roboto:300', rel='stylesheet')
    link(href='styles/index.css', rel='stylesheet')

  body
    #app
      #container

    script(async src='scripts/index.js')
