doctype
html(lang="en")
  head
    title E3 Schedule 2019
    link(href="favicon.ico?v=0" rel="shortcut icon")

    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    link(href='https://fonts.googleapis.com/css?family=Poppins:200&display=swap', rel='stylesheet')
    link(href='styles/index.css', rel='stylesheet')

  body
    #app
      header E3 Conference Schedule 2019

      section#container
        label
          input(type="checkbox" id="notification-checkbox")
          | Send notifactions when a show starts
          br
          | (Only works when this page is open)

    script(async src='scripts/index.js')
    script(async, src='https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js')
    script.
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2760086516112871",
        enable_page_level_ads: true
      });
